@import url("https://fonts.googleapis.com/css2?family=Acme&family=Courgette&family=Shadows+Into+Light&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Courgette&family=Pangolin&family=Shadows+Into+Light&family=Ubuntu:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background: url(../images/bg3.jpeg);
  background-blend-mode: lighten;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  z-index: 1;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 33%;
  border: 3px solid white;
  border-radius: 500px;
}

.nav-list {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav {
  width: 50%;
  text-align: center;
}

.nav-list li {
  list-style: none;
  padding: 30px 35px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  -webkit-text-stroke-color: 10px black;
}

.nav-list li a:hover {
  text-decoration: none;
  color: grey;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid #f04363;
  border-radius: 10px;
}
.button-search {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  margin-left: 10px;
}
.button-search:hover {
  background: #5029bc;
}

.sidenav {
  margin-top: 78px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: url(../images/bg3.jpeg);
  background-blend-mode: lighten;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding-left: 1px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.sidenav a:hover {
  color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sideBtn {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  margin: auto;
  margin-left: 0px;
  opacity: 50%;
  top: 50%;
}
#sideBtn:hover {
  background: #5029bc;
  opacity: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.section1 {
  width: auto;
  background: url("../images/bg25.jpg");
  height: 100%;
}

.myspace {
  width: 100%;
  display: flex;
  padding-bottom: 10%;
}

.leftside {
  width: 25%;
  padding-left: 250px;
  padding-top: 100px;
  padding-right: 0px;
  height: 60vh;
}

.leftside img {
  width: 70%;
  border: 5px solid white;
  border-radius: 80px;
  padding-right: 0px;
  position: static;
  margin-top: 100px;
}

.rightside {
  width: 75%;
  font-family: "Shadows Into Light", cursive;
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
}

.introtop {
  color: white;
  font-size: 50px;
}
.intro {
  color: white;
  font-size: 25px;
  padding-right: 100px;
  font-family: "Courgette", cursive;
}
.introbottom {
  color: white;
  font-size: 25px;
  padding-right: 100px;
  font-family: "Courgette", cursive;
}

#ruler1 {
  border-top: 2px dotted white;
  margin-top: -100px;
}

#memetitle {
  color: white;
  font-size: 50px;
  margin-top: 60px;
  margin-left: 250px;
  font-family: "Pangolin", cursive;
  text-decoration: underline;
}
.titletag {
  color: white;
  font-size: 30px;
  margin-top: 0px;
  margin-left: 50px;
  font-family: "Pangolin", cursive;
  text-decoration: underline;
}

.memeshare {
  padding: 12%;
  padding-left: 200px;
  padding-right: 200px;
  width: auto;
  left: 50%;
}
.memeshare img {
  transition: transform 0.25s ease;
  margin: 4%;
  border: 5px solid white;
  left: 50%;
}
.memeshare img:active {
  -webkit-transform: scale(1.5);
  transform: scale(2.5);
}
#more {
  display: none;
}
#dots {
  color: white;
  font-size: 50px;
  position: static;
  margin-top: 200px;
}
#myBtn {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
  position: static;
  margin-top: 270px;
  margin-left: 20px;
}
#myBtn:hover {
  background: #5029bc;
}

.ruler2 {
  margin: 2%;
  text-shadow: 0 0 5px black, 0 0 5px black;
}

.videomaymay {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 0%;
  border: 5px solid white;
  border-radius: 10px;
}

#more2 {
  display: none;
}
#dots2 {
  color: white;
  font-size: 50px;
  position: absolute;
  padding-top: 0px;
  padding-left: 850px;
}
#myBtn2 {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  margin-top: 12px;
  margin-left: 900px;
}
#myBtn2:hover {
  background: #5029bc;
}

.gameclips {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 0%;
  border: 5px solid white;
  border-radius: 10px;
}

#more3 {
  display: none;
}
#dots3 {
  color: white;
  font-size: 50px;
  position: absolute;
  padding-top: 0px;
  padding-left: 850px;
}
#myBtn3 {
  color: #fff;
  font-size: 18px;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  margin-top: 12px;
  margin-left: 900px;
}
#myBtn3:hover {
  background: #5029bc;
}


.footer{
  width: 100%;
  height: auto;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  background-color: #87538f;
  border: 1px solid white;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 50%;
  text-shadow: 0 0 5px white, 0 0 5px white;
}
#copyright{
  font-size: 16px;
}



@media (max-width: 1174px){
  .section1{
    width: fit-content;
    background-size: contain;
  }
  .myspace{
    width: 100%;
    padding: auto;
    margin: auto;
    display: block;
  }
  .leftside{
    width: 100%;
    display: block;
    margin: 10%;
    padding: auto;
    justify-content: center;
    align-items: center;
  }
  .leftside img{
    width: 40%;
    display: block;
    margin: auto;
    margin-left: 0%;
    padding: auto;
    justify-content: center;
    align-items: center;
  }
  
  .rightside{
    width: 100%;
    display: block;
    margin: 10%;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
  }
  .intro,.introbottom{
    margin-right: 50px;
    padding-right: 10%;
  }

  #memetitle{
    margin-left: 140px;
  }
  #dots,#dots2,#dots3{
    padding-top: 0px;
    padding-left: 0%;
    margin-top: 0%;
    display: block;
  }
  #myBtn,#myBtn2,#myBtn3{
    margin: auto;
    display: block;
  }
  #dots2,#dots3{
    margin-top: -25px;
  }
  #myBtn2,#myBtn3{
    margin-top: 2%;
  }
  .footer{
    width: auto;
    display: block;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    

  }
}
